.main {
    background-color: #f8f8ff;
    margin: 0;
    padding: 0;
    min-height: 100vh;

}

.my-container {
    display: grid;
}

.main-content-container {
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vh;
}

.content-center {
    margin: auto;
    width: 25%;
    padding: 10px;
}

.presentation-highlights {
    text-align:center;
    width:100%;
    display:block;
    margin:auto;
    }
    .team-container{
        display:grid;
        grid-template-columns: 100px 100px 100px;
        grid-gap:125px;
        justify-content: center;
      }
      .card{
        background: white;
        width:200px;
        height:300px;
        border: 12.5pm solid black;
        border-radius:12.5px;
        border-style: solid;
      }
