
.form-type {
    padding-right: 20px;
}

.form-type:hover {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
    color: #007bff;
  }

  .tos-link {
    color: #007bff;
  }
  
  .tos-link:hover {
    cursor:pointer;
    text-decoration: underline;
  }